.logolink {
  cursor: pointer;
  text-decoration: none;
  color: #184e7f;
}

.logowrapper {
  display: flex;
  align-items: center;
  gap: 0.3em;
  height: auto;
}

.logowrapper span {
  font-weight: 550;
  font-size: xx-large;
  line-height: 1;
  margin: 0;
  padding: 0;
}